* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
}

.form {
  display: flex;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  height: 500px;
}
.form-section {
  min-height: 350px;
  min-width: 450px;
}
.left-side {
  width: 25%;
  background-color: hsl(243, 100%, 62%);
  background-image: url("./assets/bg-sidebar-desktop.svg");
  background-size: cover;
  border-radius: 10px;
}

/* LEFT SIDE FORM NAVIGATION COMPONENT */

.step-section {
  display: flex;
  margin: 25px;
}

.form-circle {
  height: 25px;
  width: 25px;
  color: white;
  border-radius: 50%;
  border: solid 1px white;
  background-color: transparent;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-text-section {
  margin: 0px 0px 0px 15px;
  display: grid;
  letter-spacing: 1px;
}

.step-text {
  /* - Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%) */
  color: hsl(229, 24%, 87%);
  font-weight: 400;
  font-size: 8px;
}

.step-subtext {
  color: white;
  font-weight: 600;
  font-size: 10px;
}

/***************** RIGHT SIDE FORM*/
.right-side {
  max-width: 70%;
  margin: 20px 40px 0 50px;
}
.nav-buttons {
  max-width: 75%;
  display: flex;
  /* justify-content: space-between; */
}
.form-title {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: hsl(213, 96%, 18%);
}
.form-subtitle {
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding: 5px 0 20px 0;
  color: hsl(231, 11%, 63%);
}
.form-personal-form-text {
  font-size: 0.7rem;
  color: hsl(213, 96%, 18%);
  padding: 0 0 3px 0;
}
.form-personal-input {
  width: 80%;
  height: 20px;
  margin: 0 0 15px 0;
}

/* PLAN PAGE */
.plan-card-section {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}
.plan-card {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  /* min-width: 24%; */
  max-width: 40%;
  margin-right: 3px;
  cursor: pointer;
}
.plan-card-icon {
  max-width: 30px;
  margin-bottom: 30px;
}

.plan-card-title {
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

.plan-card-price {
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  font-weight: 200;
  color: hsl(231, 11%, 63%);
  padding: 2px 0 5px 0;
}
.yearly-offer {
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  font-weight: 200;
  color: hsl(213, 96%, 18%);
  inline-size: min-content;
  width: 87px;
}
.plan-billing {
  background-color: hsl(217, 100%, 97%);
  margin: 20px 0 50px 0;
  font-size: 0.6rem;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
  max-width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ADDON FORM */
.addoncard-container {
  display: flex;
  width: 90%;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  border: 0.6px solid #201536;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 0px 15px 0 0;
}
.addoncard-left {
  display: flex;
  align-items: center;
}
.addoncard-title {
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.addoncard-desc {
  font-size: 0.65rem;
  letter-spacing: 0.2px;
  font-weight: 200;
  color: hsl(231, 11%, 63%);
  padding: 4px 0 5px 0;
}
.addoncard-price {
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: #7f5bc7;
}
/* SUMMARY */
.summary-card {
  background-color: hsl(217, 100%, 97%);
  border-radius: 5px;
  padding: 20px;
}
.summary-plan-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.summary-change {
  font-size: 0.6rem;
  font-weight: 300;
  text-decoration: underline;
}
.summary-plan-name {
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.summary-plan-price {
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}

.summary-addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.summary-addon-title {
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  padding: 4px 0 5px 0;
}
.summary-addon-price {
  font-size: 0.6rem;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: hsl(213, 96%, 18%);
}
.summary-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0 20px;
}
.summary-total-text {
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  padding: 4px 0 5px 0;
}
.summary-total-number {
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: hsl(243, 100%, 62%);
}
/* quick comment test for pushing */
