* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: aliceblue;
  width: 100vw;
  min-height: 100vh;
}

.form {
  display: flex;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  height: 500px;
}

.left-side {
  width: 25%;
  background-color: hsl(243, 100%, 62%);
  background-image: url("./assets/bg-sidebar-desktop.svg");
  background-size: cover;
  border-radius: 10px;
}

.right-side {
  width: 70%;
  margin: 20px 40px 0 50px;
}

/* FORM NAVIGATION COMPONENT */

.step-section {
  display: flex;
  margin: 25px;
}

.form-circle {
  height: 25px;
  width: 25px;
  color: white;
  border-radius: 50%;
  border: solid 1px white;
  background-color: transparent;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-text-section {
  margin: 0px 0px 0px 15px;
  display: grid;
  letter-spacing: 1px;
}

.step-text {
  /* - Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%) */
  color: hsl(229, 24%, 87%);
  font-weight: 400;
  font-size: 8px;
}

.step-subtext {
  color: white;
  font-weight: 600;
  font-size: 10px;
}

/* RIGHT SIDE */
.form-title {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: hsl(213, 96%, 18%);
}
.form-subtitle {
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding: 5px 0 20px 0;
  color: hsl(231, 11%, 63%);
}
.form-personal-form-text {
  font-size: 0.7rem;
  color: hsl(213, 96%, 18%);
  padding: 0 0 3px 0;
}
.form-personal-input {
  width: 80%;
  height: 20px;
  margin: 0 0 15px 0;
}
